body{
    background: url("img/f2.jpg");
}
.corpo{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
   
}
.div1{
    background-color: white;
    height: 50px;
    margin-top: -4%;
}
#name{
    font-size: 28px;
    font-family: Times New Roman, Courrier;
    color: #00B2EE;
}
#menu{
    font-size: 24px;
    font-family: Times New Roman, Courrier;
    color: blue;
    padding: 10px 4px;
    margin-top: -10%;
    float:right;
    
}
#menu li {
    list-style: none;
    float: right;
   
    
}
#menu li a{
     text-decoration: none;
     padding-left: 4px;
     
}
.sobre{
    background-color: #00B2EE;
    height: 400px;
    margin-top: 5%;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-left: 3%;
}
