#header{
  
}
#barra{
  
}
h1{
   font-family: Times New Roman, Verdana;
   font-size: 16px;
}
a{
  text-decoration: none;
  color : grey;
}
a: hover{
  color : #00008B;
}
#name{
  font-size: 24px;
  font-color: #00008B;
}
